<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link rel="stylesheet/less" href="/H5/static/index.less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
</head>
<body>
<div id="mineSweeper" class="board">
    <div v-for="(row,index) in board" class="board-row">
        <div v-for="(column,key) in row" class="board-column"
             @click="isInit ? updateBoard([index,key]) : setBoom([index,key])">
            {{ column.data }}
        </div>
    </div>
</div>
<!--&lt;!&ndash;引入cdn&ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="H5/utils/vue.js"></script>

<script>
    const el = new Vue({
            //挂载
            el: "#mineSweeper",
            data() {
                const board = new Array(9).fill(new Array(9).fill({
                    data: '-1',//显示的值 -1未翻开 0翻开的空格子 数字1-9附近有炸弹 X炸弹
                    show: false,//是否翻开
                    isBoom: false //是否炸弹
                }))
                console.log(board)
                return {
                    isInit: false, // 保证第一个点击的格子不是雷
                    board,
                    over: false, // 游戏是否结束
                }
            },
            methods: {
                // 修改数组
                editBoard(x, y, data) {
                    const {board} = this;
                    const row = [...board[x]];// 获取那一行的数据
                    row.splice(y, 1, data) // 修改
                    this.$set(board, x, row)
                },
                // 初始化棋盘
                setBoom(click) {
                    const {board} = this;
                    const [cX, cY] = click;
                    const dx = [], dy = [];
                    //先生成十个炸弹
                    while (dx.length < 10) {
                        const randomX = Math.round(Math.random() * (board.length - 1));//获取一个范围内的随机数
                        const randomY = Math.round(Math.random() * (board.length - 1));//获取一个范围内的随机数
                        const isClick = JSON.stringify([cX, cY]) === JSON.stringify([randomX, randomY])
                        if (!isClick && (dx.indexOf(randomX) === -1 || dx.indexOf(randomX) !== dy.indexOf(randomY))) {
                            // 如果没有重复则推入
                            dx.push(randomX)
                            dy.push(randomY)
                        }
                    }

                    // 修改炸弹数据
                    for (let i = 0; i < dx.length; i++) {
                        // console.log(JSON.stringify([dx[i]][dy[i]]))
                        const obj = {
                            data: '-1',//显示的值 -1未翻开 0翻开的空格子 数字1-9附近有炸弹 X炸弹
                            show: false,//是否翻开
                            isBoom: true //是否炸弹
                        }
                        this.editBoard(dx[i], dy[i], obj);
                    }
                    this.isInit = true;
                    this.updateBoard(click);
                },
                // 更新格子状态
                updateBoard(click) {
                    const {board, over} = this;
                    if (over) return;// 如果游戏已经结束 直接返回
                    const m = board.length;
                    const n = board[0].length;
                    const dx = [1, 1, 1, -1, -1, -1, 0, 0]; // 横坐标
                    const dy = [1, 0, -1, 0, 1, -1, 1, -1]; // 纵坐标
                    const inBound = (x, y) => x >= 0 && x < m && y >= 0 && y < n; // 辅助函数

                    const update = (x, y) => {
                        if (!inBound(x, y) || board[x][y].show) return; // 不在界内或已翻开，直接返回
                        let count = 0;
                        for (let i = 0; i < 8; i++) { // 统计周围雷的个数
                            const nX = x + dx[i];
                            const nY = y + dy[i];
                            if (inBound(nX, nY) && board[nX][nY].isBoom) {
                                count++;
                            }
                        }
                        if (count === 0) { // 如果周围没有雷，翻开且标记0，递归周围的点
                            const obj = {
                                data: '0',//显示的值 -1未翻开 0翻开的空格子 数字1-9附近有炸弹 X炸弹
                                show: true,//是否翻开
                                isBoom: false //是否炸弹
                            }
                            this.editBoard(x, y, obj)
                            for (let i = 0; i < 8; i++) {
                                update(x + dx[i], y + dy[i]);
                            }
                        } else {
                            const obj = {
                                data: count + '',//显示的值 -1未翻开 0翻开的空格子 数字1-9附近有炸弹 X炸弹
                                show: true,//是否翻开
                                isBoom: false //是否炸弹
                            }
                            this.editBoard(x, y, obj)
                        }
                    };

                    const [cX, cY] = click;
                    if (board[cX][cY].isBoom) { // 第一下就踩雷了
                        const obj = {
                            data: 'X',//显示的值 -1未翻开 0翻开的空格子 数字1-9附近有炸弹 X炸弹
                            show: true,//是否翻开
                            isBoom: true //是否炸弹
                        };
                        this.editBoard(cX, cY, obj);
                        this.over = true;
                    } else {
                        update(cX, cY); // 开启dfs
                    }
                }
            }
        })
    ;
</script>
</body>
</html>
