<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>来扫雷咯</title>
    <link rel="stylesheet/less" href="static/index.less">
    <link
            rel="stylesheet"
            href="https://fastly.jsdelivr.net/npm/vant@4/lib/index.css"
    />
    <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js'></script>
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://fastly.jsdelivr.net/npm/vue@3"></script>
    <script src="https://fastly.jsdelivr.net/npm/vant@4/lib/vant.min.js"></script>
</head>
<body>
<!-- 看板娘 -->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>-->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"/>-->
<!--<script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>-->


<div id="mineSweeper">
    <div class="top">
        <div v-if="hasChoseLevel" class="top-info">
            <div class="top-info__list">
                <div>难度:{{ gameInfo.level }}</div>
                <div>时间:{{ gameInfo.time }}s</div>
            </div>
            <div class="top-info__list">
                <div>剩余:{{ remain }}</div>
                <div>最高纪录:{{ gameInfo.record ? `${gameInfo.record}s` : '无' }}</div>
            </div>
        </div>
        <div v-else>请选择难度</div>
    </div>
    <div v-if="!hasChoseLevel">
        <div class="level">
            <div class="level-list" v-for="(item,index) in config" :key="index" @click="choseLevel(item)">
                {{`${item.level} （${item.xNum}×${item.yNum}）`}}
            </div>
        </div>
        <div class="custom">
            <van-button plain type="info" @click="showOverlay = true">自定义棋盘图片</van-button>
        </div>
    </div>

    <div v-else class="game-content">
        <div class="board">
            <div v-for="(row,index) in board" class="board-row">
                <div v-for="(column,key) in row"
                     :class="['board-column',gameInfo.yNum <= 9?'board-column--small':gameInfo.yNum < 30?'board-column--middle':'board-column--large']"
                     @click="isSetFlag ? setFlag([index,key], column) : isInit ? updateBoard([index,key],column.data) : setBoom([index,key])">
                    <div :class="['board-column__list',column.isShow ? 'board-column__list--show':'board-column__list--unknown']">
                        <img v-if="column.data === 'X'" class="board-column__img" :src="boomImg"
                             alt="炸弹">
                        <img v-else-if="column.data === 'F'"
                             :class="['board-column__img',!isSetFlag ? 'board-column__img--disable' : '']"
                             :src="flagImg"
                             alt="旗帜">
                        <!--                        <div v-else-if="parseInt(column.data) > 0">{{ column.data }}</div>-->
                        <img v-else-if="parseInt(column.data) > 0"
                             class="board-column__img board-column__img--number"
                             :src="`static/images/shuzi${column.data}.svg`"
                             :alt="column.data">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom-button">
                <div v-if="!isOver"
                     :class="['bottom-button__list bottom-button__flag',isSetFlag ? 'bottom-button__flag--active':'']"
                     @click="isSetFlag = !isSetFlag">
                    插旗
                </div>
                <div class="bottom-button__list bottom-button__restart"
                     @click="handleRestart">重新开始
                </div>
                <div class="bottom-button__list bottom-button__choose"
                     @click="handleRestart(false)">重新选择难度
                </div>
            </div>
            <div v-if="isOver" class="bottom-tips">踩到地雷，游戏结束</div>
        </div>
    </div>
    <van-overlay :show="showOverlay" @click="showOverlay = false">
        <div class="custom-wrapper" @click.stop>
            <div class="custom-wrapper__upload">
                <van-uploader class="custom-wrapper__upload-list"
                              :before-read="beforeRead"
                              :after-read="(file)=> afterRead(file,'boom')">
                    <van-button icon="plus" type="default">更换地雷图标</van-button>
                </van-uploader>
                <van-uploader class="custom-wrapper__upload-list"
                              :before-read="beforeRead"
                              :after-read="(file)=> afterRead(file,'flag')"
                >
                    <van-button icon="plus" type="default">更换旗帜图标</van-button>
                </van-uploader>
                <van-button class="custom-wrapper__upload-list" icon="replay" type="default" @click="resetImg">还原默认图标
                </van-button>
            </div>

            <div class="custom-wrapper__preview">
                <div class="custom-wrapper__preview-title">预览效果</div>
                <div class="custom-wrapper__preview-board">
                    <div class="board-row">
                        <div :class="['board-column','board-column--small']">
                            <div :class="['board-column__list','board-column__list--unknown']">
                            </div>
                        </div>
                        <div :class="['board-column','board-column--small']">
                            <div :class="['board-column__list','board-column__list--show']">
                                <img class="board-column__img"
                                     :src="boomImg"
                                     alt="炸弹">
                            </div>
                        </div>
                        <div :class="['board-column','board-column--small']">
                            <div :class="['board-column__list','board-column__list--unknown']">
                                <img class="board-column__img"
                                     :src="flagImg"
                                     alt="旗帜">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-wrapper__tips">
                请上传图片(建议使用白色或透明底的正方形图片)<br/>
                注意:清除缓存会还原设置的图片
            </div>

        </div>
    </van-overlay>
</div>
<!--&lt;!&ndash;引入cdn&ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<!-- 引入样式文件 -->

<script>
    // 在 #app 标签下渲染一个按钮组件
    const {createApp, ref, watch, computed, reactive} = Vue;
    const app = createApp({
        setup() {
            // 选择难度 START
            //难度配置
            const config = [{
                alias: 'easy',
                level: '青铜',
                xNum: 9, // 列数
                yNum: 9, // 行数
                boomNum: 10, // 炸弹数
            }, {
                alias: 'middle',
                level: '白银',
                xNum: 16,
                yNum: 16,
                boomNum: 40,
            }, {
                alias: 'hard',
                level: '黄金',
                xNum: 16,
                yNum: 30,
                boomNum: 99,
            }]

            // 是否选择了难度
            let hasChoseLevel = ref(false)
            // 当前游戏信息
            let gameInfo = ref({
                alias: 'easy',
                level: '青铜', // 难度等级
                time: 0, // 时间
                record: undefined,// 最高纪录
                xNum: 9, // 列数
                yNum: 9, // 行数
                boomNum: 10, // 炸弹数
            })
            // 旗帜数
            let flagNum = ref(0)
            // 当前难度的非雷格子数
            let saveNum = 0
            //剩余炸弹数量
            const remain = computed(() => {
                return gameInfo.value.boomNum - flagNum.value < 0 ? 0 : gameInfo.value.boomNum - flagNum.value
            })

            /**
             * 选择难度
             *
             * @param   {Object} item 选择的难度数据
             */
            function choseLevel(item) {
                const {alias} = item;

                gameInfo.value = {
                    ...gameInfo.value,
                    ...item,
                    record: localStorage.getItem(`${alias}_record`)
                }
                const {xNum, yNum, boomNum} = gameInfo.value;
                saveNum = yNum * xNum - boomNum
                hasChoseLevel.value = true;
                restart();
            }

            // 选择难度 END

            // 开始游戏 START
            // 棋盘
            let board = ref([])
            //保证第一个点击的格子不是雷
            let isInit = ref(false)
            // 游戏是否结束
            let isOver = ref(false)
            // 是否处于插旗模式
            let isSetFlag = ref(false)
            // 计时器
            let timer = null
            // 默认地雷图标地址
            let boomImg = ref('static/images/icon_boom1.svg')
            // 默认旗帜图标地址
            let flagImg = ref('static/images/flag.svg')
            // 图标地址集合
            let imgArr = reactive({
                boomImg,
                flagImg
            })

            // 判断本地缓存中是否已上传自定义图标
            function getImg() {
                ['boom', 'flag'].forEach((item) => {
                    if (localStorage.getItem(`${item}_img`)) {
                        imgArr[`${item}Img`] = localStorage.getItem(`${item}_img`);
                    }
                })
            }

            getImg();

            // 开始计时
            function setTimer() {
                timer = setInterval(() => {
                    const num = parseFloat(gameInfo.value.time) + 0.01
                    gameInfo.value.time = num.toFixed(2)
                }, 10)
            }

            // 开始/重新开始
            function restart() {
                const {yNum, xNum} = gameInfo.value;

                board.value = new Array(yNum).fill(new Array(xNum).fill({
                    data: '-1',
                    isShow: false,
                    isBoom: false
                }));
                [isInit.value, isOver.value, isSetFlag.value, gameInfo.value.time, flagNum.value] = [false, false, false, 0, 0];
                setTimer();
            }

            // 开始游戏 END


            // 游戏过程 START

            /**
             * 插旗
             *
             * @param   {Array} click 点击的坐标
             * @param   {Object} column 点击坐标数据
             */
            function setFlag(click, column) {
                const [cY, cX] = click;
                const {data, isBoom, isShow} = column;
                if (isShow) return; // 如果这个格子已经翻开 直接返回
                const obj = {
                    data: 'F',// F旗帜
                    isShow: false,// 未翻开
                    isBoom: isBoom // 炸弹
                };
                if (data === 'F') {
                    obj.data = '-1'; // 未翻开的空格子
                    flagNum.value -= 1
                } else {
                    flagNum.value += 1
                }
                editBoard(cX, cY, obj);
            }


            /**
             * 修改坐标数据
             *
             * @param   {String|Number} x   需要修改的x坐标
             * @param   {String|Number} y   需要修改的y坐标
             * @param   {Object} data   改变后的数据
             */
            function editBoard(x, y, data) {
                const row = [...board.value[y]];// 获取那一行的数据
                row.splice(x, 1, data) // 修改
                board.value[y] = row;
                // console.log(x, y, row, data, board.value[y], board)
            }

            /**
             * 初始化棋盘
             * @return  {Promise}   Promise
             * @param   {Array} click 点击的坐标
             *
             **/
            function setBoom(click) {
                const {xNum, yNum, boomNum} = gameInfo.value;
                const [cY, cX] = click;
                const dx = [], dy = [];
                //生成炸弹
                while (dx.length < boomNum) {
                    const randomX = Math.round(Math.random() * (xNum - 1));//获取一个范围内的随机数
                    const randomY = Math.round(Math.random() * (yNum - 1));//获取一个范围内的随机数
                    const isClick = (randomX === parseInt(cX)) && (randomY === parseInt(cY));// 是否点击的坐标
                    if (!isClick && (dx.indexOf(randomX) === -1 || dx.indexOf(randomX) !== dy.indexOf(randomY))) {
                        // 如果没有重复且不是点击的坐标则推入
                        dx.push(randomX)
                        dy.push(randomY)
                    }
                }
                // 修改炸弹数据
                for (let i = 0; i < dx.length; i++) {
                    // console.log(JSON.stringify([dx[i]][dy[i]]))
                    const obj = {
                        data: '-1',
                        isShow: false,
                        isBoom: true //是炸弹
                    }
                    editBoard(dx[i], dy[i], obj);
                }
                isInit.value = true;
                updateBoard(click);
            }

            /**
             * 更新格子状态
             *
             * @param   {Array} click 点击的坐标
             * @param   {Object} data 点击坐标数据值
             */
            function updateBoard(click, data = undefined) {
                const {xNum, yNum} = gameInfo.value
                if (isOver.value || data === 'F') return;// 如果游戏已经结束或为旗帜 直接返回
                const dx = [1, -1, 0, 0, -1, 1, -1, 1]; // 横坐标
                const dy = [0, 0, 1, -1, 1, -1, -1, 1]; // 纵坐标
                const inBound = (x, y) => x >= 0 && x < xNum && y >= 0 && y < yNum; // 辅助函数

                const update = (x, y) => {
                    if (!inBound(x, y) || board.value[y][x].isShow || board.value[y][x].data === 'F') return; // 不在界内或已插旗或已翻开，直接返回
                    let count = 0;
                    for (let i = 0; i < 8; i++) { // 统计周围雷的个数
                        const nX = x + dx[i];
                        const nY = y + dy[i];
                        if (inBound(nX, nY) && board.value[nY][nX].isBoom) {
                            count++;
                        }
                    }

                    if (count === 0) { // 如果周围没有雷，翻开且标记0，递归
                        const obj = {
                            data: '0',// 0翻开的空格子
                            isShow: true,// 已翻开
                            isBoom: false // 不是炸弹
                        }
                        editBoard(x, y, obj)
                        for (let i = 0; i < 8; i++) {
                            update(x + dx[i], y + dy[i]);
                        }
                    } else {
                        const obj = {
                            data: count + '',// 数字1-9附近有炸弹
                            isShow: true,// 已翻开
                            isBoom: false // 不是炸弹
                        }
                        editBoard(x, y, obj)
                    }
                };

                const [cY, cX] = click;
                if (board.value[cY][cX].isBoom) { // 第一下就踩雷了
                    const obj = {
                        data: 'X',// X炸弹
                        isShow: true,// 已翻开
                        isBoom: true // 是炸弹
                    };
                    editBoard(cX, cY, obj);
                    isOver.value = true;
                    clearInterval(timer)
                } else {
                    update(cX, cY); // 开启dfs
                }
            }

            // 重新开始确认
            function handleRestart(isRestart = true) {
                // 停止计时
                clearInterval(timer)
                if (isOver.value) {
                    if (isRestart) {
                        // 重新开始
                        restart();
                    } else {
                        // 返回主页
                        setLevelPage();
                    }
                } else {
                    // 弹出对话框
                    vant.showDialog({
                        message: `确认要重新${isRestart ? '开始' : '选择难度'}吗?`,
                        confirmButtonColor: '#409eff',
                        confirmButtonText: '确认',
                        showCancelButton: true,
                        cancelButtonText: '取消'
                    }).then(() => {
                        if (isRestart) {
                            // 重新开始
                            restart();
                        } else {
                            // 返回主页
                            setLevelPage();
                        }
                    }).catch(() => {
                        // 重新计时
                        setTimer();
                    });
                }
            }

            // 打开难度选择页面
            function setLevelPage() {
                clearInterval(timer); // 清除定时器
                hasChoseLevel.value = false;
            }

            // 游戏过程 END

            // 游戏结束 START
            // 计算已翻开的格子数 当翻开的格子数=安全的格子数时游戏胜利
            const showCount = computed(() => {
                const arr = board.value.flat();
                let num = 0;
                arr.forEach((item) => {
                    if (item.isShow) {
                        num++
                    }
                })
                return num
            })

            // 难度评级配置
            const scoreLevel = {
                easy: {
                    0.49: '100',
                    40: '99',
                    70: '88',
                    90: '80',
                    110: '77',
                    180: '66',
                    240: '55',
                    500: '35',
                    800: '15',
                    1000: '10',
                    1300: '1'
                },
                // 452 293
                middle: {
                    7.03: '100',
                    250: '99',
                    500: '88',
                    800: '77',
                    1000: '66',
                    1200: '55',
                    1500: '35',
                    2000: '15',
                    2500: '10'
                },
                hard: {
                    31.13: '100',
                    500: '99',
                    800: '88',
                    1200: '77',
                    1800: '66',
                    2300: '55',
                    3000: '35',
                    5000: '15',
                    8000: '10'
                }
            }

            // 监听翻开的格子数，判断游戏是否结束
            watch(showCount, () => {
                const {time, alias, record} = gameInfo.value
                if (isOver.value) return; // 处理最后一个点击到炸弹的异常情况
                if (showCount.value === saveNum) {
                    // 停止计时
                    clearInterval(timer)

                    // 击败玩家百分比
                    let percent = '1';

                    for (const key in scoreLevel[alias]) {
                        if (parseFloat(time) < key) {
                            percent = scoreLevel[alias][key]
                            break
                        }
                    }

                    // 判断是否为最高纪录
                    if (!record || parseFloat(time) < parseFloat(record)) {
                        localStorage.setItem(`${alias}_record`, time)
                        gameInfo.value.record = time;
                    }

                    // 弹出对话框
                    vant.showDialog({
                        message: `恭喜用时${time}秒挑战成功！\n击败了${percent}%的玩家！\n您的最高纪录：${gameInfo.value.record}秒`,
                        confirmButtonColor: '#409eff',
                        confirmButtonText: '重新开始',
                        showCancelButton: true,
                        cancelButtonText: '返回主页'
                    }).then(() => {
                        // 重新开始
                        restart();
                    }).catch(() => {
                        // 返回主页
                        setLevelPage();
                    });
                }
            })
            // 游戏结束 END

            // 自定义图片 START
            // 遮罩层开关
            let showOverlay = ref(false)

            // 还原默认图标
            function resetImg() {
                boomImg.value = 'static/images/icon_boom1.svg'
                // 默认旗帜图标地址
                flagImg.value = 'static/images/flag.svg'
                localStorage.removeItem('boom_img');
                localStorage.removeItem('flag_img');
                vant.showToast('还原成功');
            }

            // 返回布尔值
            function beforeRead(file) {
                if (file.type.indexOf('image') === -1) {
                    vant.showToast('请上传正确的图片');
                    return false;
                }
                return true;
            }

            // 上传回调
            function afterRead(files, string) {
                const {file} = files;
                console.log(files, file)
                // 保存图片到本地缓存
                let canvas = document.createElement('canvas') // 创建Canvas对象(画布)
                let context = canvas.getContext('2d')
                let img = new Image()
                img.src = files.content
                img.onload = () => {

                    canvas.width = 100

                    canvas.height = 100

                    context.drawImage(img, 0, 0, canvas.width, canvas.height)
                    if (file.size > 2 * 1024) {
                        //如果图片大小大于2M
                        vant.showLoadingToast({
                            message: '正在压缩图片...',
                            forbidClick: true,
                        });
                        files.content = canvas.toDataURL(file.type)
                        localStorage.setItem(`${string}_img`, files.content)

                        imgArr[`${string}Img`] = files.content;
                        vant.showToast('上传成功');
                    } else {
                        localStorage.setItem(`${string}_img`, files.content)
                        imgArr[`${string}Img`] = files.content;
                        vant.showToast('上传成功');
                    }
                }
            }

            // 自定义图片 END

            return {
                config,
                hasChoseLevel,
                gameInfo,
                remain,
                choseLevel,
                board,
                isInit,
                isOver,
                isSetFlag,
                boomImg,
                flagImg,
                setFlag,
                setBoom,
                updateBoard,
                handleRestart,
                showOverlay,
                resetImg,
                beforeRead,
                afterRead
            }
        }
    });
    app.use(vant);

    // 通过 CDN 引入时不会自动注册 Lazyload 组件
    // 可以通过下面的方式手动注册
    app.use(vant.Lazyload);

    // 调用工具函数，弹出一个 Toast
    // vant.showToast('提示');

    app.mount('#mineSweeper');
</script>
</body>
</html>
