.board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 360px;
  height: 360px;
  margin: 10px auto;
  background: gainsboro;

  &-row {
    display: flex;
    flex: 1;
  }

  &-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 1px solid black;
    cursor: pointer;
  }
}
