//顶部
.top {
  margin: 10px auto;
  color: #222;
  font-weight: bold;
  max-width: 370px;
  text-align: center;
  font-size: 14px;

  &-info {
    display: flex;

    &__list {
      flex: 1;
    }
  }
}

//棋盘
.board {
  //display: flex;
  //flex-direction: column;
  //justify-content: space-around;
  max-width: 370px;
  //min-height: 360px;
  margin: 10px auto;

  &-row {
    display: flex;
    overflow: hidden;
    justify-content: center;
  }

  &-column {
    display: flex;
    justify-content: center;
    align-items: center;
    //flex: 1;
    margin: 1px;
    background: gainsboro;
    overflow: hidden;

    //max-width: 38px;
    //max-height: 38px;
    //border: 1px solid black;
    //margin-right: -1px;
    //margin-bottom: -1px;

    &--small {
      width: 38px;
      height: 38px;
    }

    &--middle {
      width: 20px;
      height: 20px;
      font-size: 12px;
    }

    &--large {
      width: 20px;
      height: 20px;
      font-size: 12px;
    }

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &--unknown {
        cursor: pointer;
      }

      &--show {
        background: whitesmoke;
        box-shadow: gainsboro 2px 2px inset;
      }
    }

    &__img {
      width: 100%;
      height: 90%;

      &--disable {
        cursor: auto;
      }
    }
  }
}

//底部
.bottom {
  margin-top: 20px;

  &-tips {
    margin-top: 20px;
    text-align: center;
    color: #aaa;
    font-size: 24px;
    font-weight: 600;
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;

    &__list {
      display: inline-block;
      line-height: 1;
      white-space: nowrap;
      cursor: pointer;
      background: #fff;
      border: 1px solid #dcdfe6;
      color: #606266;
      -webkit-appearance: none;
      text-align: center;
      box-sizing: border-box;
      outline: none;
      margin: 10px;
      transition: .1s;
      font-weight: 500;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      padding: 12px 20px;
      font-size: 14px;
      border-radius: 4px;
    }


    &__restart {
      color: #fff;
      background: #909399;
    }

    &__flag {
      color: #fff;
      background-color: #409eff;
      border-color: #409eff;

      &--active {
        color: #409eff;
        background: #ecf5ff;
        border-color: #b3d8ff;
      }
    }
  }
}

//等级
.level {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  max-width: 360px;
  margin: 10px auto;
  padding: 16px;
  border: 2px dashed #409eff;

  &-list {
    display: inline-block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: 14px;
    border-radius: 20px;
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
  }
}
